body{
    color: blue;
    text-align: center;
}
#PrimeraFrase{
    text-align: justify;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#descripcion{
    color: black;
    margin: 1rem 5rem;
    
}