body {
  color: blue;
  text-align: center;
}
#PrimeraFrase {
  text-align: center;
  color: aqua;
  font-family: "Courier New", Courier, monospace;
}

#cabecera {
  color: black;
  padding: 30px;
  margin: 0 auto;
  width: 70%;
  border: 1px solid aqua;
  background-color: indigo;
  text-align: left;
  margin-left: 0% 0%;
  font-size: 60px;
}

#cabecera span {
  color: dodgerblue;
  margin: 10% 10%;
  font-size: 20px;
  font-style: italic;
}
