body{
    color: blue;
    text-align: center;
}
#PrimeraFrase{
    text-align: justify;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    padding: 1em;
    margin: 0 auto;
    width: 70%;
    border: 1px solid aqua;
}