
.main-cuerpo {
  font-size: 1.3rem;
  font-style: oblique;
  font-weight: bold;
}

#PrimeraFrase {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}


.carruselTelefonos__navigation {
  display: flex;
  box-sizing: border-box;
}

.carruselTelefonos__navigation li {
  flex: auto;
  display:block;
  text-decoration: none;
  list-style: none;
}

.carruselTelefonos__navigation figure img {
  width: 10rem;
  transition: width 1s;
}

.carruselTelefonos__navigation figure img:hover {
  width: 11rem;
}

.CarruselVideo video {
  width: 20rem;
  /* height: 10rem; */
}
