#PrimeraFrase {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#header {
  font-size: 1.3rem;
  font-style: oblique;
  font-weight: bold;
}

#carruselTelefonos {
  display: flex;
}

#carruselTelefonos figure {
  flex: auto;
}

#carruselTelefonos figure img {
  width: 10rem;
}

#CarruselVideo video {
  width: 20rem;
  /* height: 10rem; */
}
